*{padding: 0;margin: 0;}
a {text-decoration: none;color: #fff; }
ul {list-style: none;}
ul li a {display: block;}
h3 {margin-bottom: 10px;}
p {line-height: 1.7; margin-bottom: 30px;}
hr {width: 100%; height: 0; border: 0; border-top: 1px solid rgba(255, 255, 255, 0.6); margin-bottom: 15px;}

body {width: 100%; height: 100%; background-attachment: fixed; background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(170, 7, 107, 0.8)), to(rgba(97, 4, 95, 0.8))); background-image: linear-gradient(rgba(170, 7, 107, 0.8), rgba(97, 4, 95, 0.8)); background-size: 100%; color: #fff; font-family: sans-serif; font-size: 90%;}

.navBar {width: 100%; height: 75px; background-color: rgba(97, 4, 95, 0.8); padding: 5px 25px; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 0px 5px 25px rgba(97, 4, 95, 0.2); box-shadow: 0px 5px 25px rgba(97, 4, 95, 0.2);}
.navBar ul {overflow: hidden; padding: 5px;}
.navBar ul li {float: right;}
.navBar ul li>a {display: block; padding: 10px; line-height:0.5; margin-top: 12px; font-size: 20px; -webkit-transition: 0.3s; transition: 0.3s}
.navBar ul li>a:hover {font-size: 35px; -webkit-transition: 0.2s; transition: 0.2s}


.container {width: 100%; max-width: 1280px; height: 100%; max-height: 1080px; margin: auto;}

.name {width: 100%; max-width: 770px; height: 70px; padding: 10px 15px; -webkit-box-sizing: border-box; box-sizing: border-box; margin:0 auto; text-align: center;}
.name ul li {display: inline-block; float: left; font-size: 35px; line-height: 1.4; text-transform: uppercase; margin-right: 15px;}
.name ul li:first-child {text-align: center;}
.name ul li:nth-child(2) {}
.name ul li:nth-child(3) {font-size: 15px; line-height: 3.8;}
.name ul li:last-child {width: 50px; height: 30px; margin-top: 4px; margin-right: 0}
.name ul li:last-child img {width: 100%; height: 100%;}

.contentBody {width: 770px; height: 450px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: auto; background-color: rgba(98, 4, 96, 0.5); -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.sideBar {width: 195px; height: 450px; float: left;}
.photo {width: 195px; height: 225px; position: relative;}
.photo img {width: 100%; height: 100%;}
.photo .usrSocial {width: 100%; background-color: rgba(0, 0, 0, 0.7); position: absolute; margin-top: -38px;}
.photo ul {width: 100%;display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex}
.photo ul li {width: 25%; display: inline-block; -webkit-box-sizing: border-box;box-sizing: border-box;text-align: center;}
.photo ul li a {padding: 7.5px;}
.photo ul li a:hover {color: #fff; background-color: #52044d;}

.manu {height: 225px; overflow: hidden;}
.manu:hover  {overflow-y: scroll;}
.manu ul li a {padding: 7px; padding-left: 15px; -webkit-transition: 0.5s; -webkit-transition: 0.5s; transition: 0.5s}
.manu ul li a:hover {background-color: #52044d; color: #fff; padding-left: 20px; font-size: 125%; -webkit-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s}

.doc {width: 550px; height: 425px; margin: 12.5px;}
.texts {width: 100%; height: 370px; overflow: hidden; text-align: justify; text-justify: inter-word;}
.texts:hover {overflow-y: scroll;}


footer {width: 100%; height: 20px; margin-top: 25px; margin-bottom: 30px;}
footer ul {padding: 0 25px;}
footer ul li {display: inline-block; float: right;line-height: 1.1;}
footer ul li a {font-size: 15px; color: #61045F; background-color: #fff; text-align: center; margin-left: 6px; display: block; padding:8px; border: 0; border-radius: 50%; margin: 0px 2.5px; -webkit-transition: 0.3s; transition: 0.3s}
footer ul li a:hover {background-color: #61045F; color: #fff; border: 1px solid #fff; -webkit-transition: 0.2s; transition: 0.2s}

li p {margin-bottom: -1px; line-height: 2.5; padding-right: 15px; margin-right: 10px; border-right: 1px solid;}

::-webkit-scrollbar {width: 0px;}